@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:700&display=swap");
h1, h3 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
}

/* ANIMATED X */
.navbar-toggler.x {
  border: none;
}
.navbar-toggler.x:focus {
  outline: none;
}
.navbar-toggler.x[aria-expanded=true] .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}
.navbar-toggler.x[aria-expanded=true] .icon-bar:nth-of-type(2) {
  opacity: 0;
  filter: alpha(opacity=0);
}
.navbar-toggler.x[aria-expanded=true] .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}
.navbar-toggler.x .icon-bar {
  width: 22px;
  display: block;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navbar-toggler.x .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar-toggler.x .icon-bar:nth-of-type(1) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}
.navbar-toggler.x .icon-bar:nth-of-type(2) {
  opacity: 1;
  filter: alpha(opacity=100);
}
.navbar-toggler.x .icon-bar:nth-of-type(3) {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

/* ANIMATED RIGHT ARROW */
.navbar-toggler.rarr {
  border: none;
}
.navbar-toggler.rarr:focus {
  outline: none;
}
.navbar-toggler.rarr[aria-expanded=true] .icon-bar:nth-of-type(1) {
  transform: translate3d(11px, 6px, 0) rotate(45deg);
  transform-origin: right top;
  width: 11px;
}
.navbar-toggler.rarr[aria-expanded=true] .icon-bar:nth-of-type(2) {
  /* transform: scale(0.75); */
}
.navbar-toggler.rarr[aria-expanded=true] .icon-bar:nth-of-type(3) {
  transform: translate3d(11px, -6px, 0) rotate(-45deg);
  transform-origin: right bottom;
  width: 11px;
}
.navbar-toggler.rarr .icon-bar {
  width: 22px;
  display: block;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navbar-toggler.rarr .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar-toggler.rarr .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 0, 0) rotate(0deg);
  transform-origin: right top;
  width: 22px;
}
.navbar-toggler.rarr .icon-bar:nth-of-type(2) {
  transform: translate3d(0, 0, 0) rotate(0deg);
}
.navbar-toggler.rarr .icon-bar:nth-of-type(3) {
  transform: translate3d(0, 0, 0) rotate(0deg);
  transform-origin: right bottom;
  width: 22px;
}

/* ANIMATED UP ARROW */
.navbar-toggler.uarr {
  border: none;
}
.navbar-toggler.uarr:focus {
  outline: none;
}
.navbar-toggler.uarr[aria-expanded=true] .icon-bar:nth-of-type(1) {
  transform: translate3d(1px, 0, 0) rotate(-45deg);
  transform-origin: center center;
  width: 11px;
}
.navbar-toggler.uarr[aria-expanded=true] .icon-bar:nth-of-type(2) {
  transform: rotate(-90deg);
  transform-origin: center center;
}
.navbar-toggler.uarr[aria-expanded=true] .icon-bar:nth-of-type(3) {
  transform: translate3d(0px, -14px, 0) rotate(-135deg);
  transform-origin: right top;
  width: 11px;
}
.navbar-toggler.uarr .icon-bar {
  width: 22px;
  display: block;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navbar-toggler.uarr .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar-toggler.uarr .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 0, 0) rotate(0deg);
  width: 22px;
}
.navbar-toggler.uarr .icon-bar:nth-of-type(2) {
  transform: translate3d(0, 0, 0) rotate(0deg);
}
.navbar-toggler.uarr .icon-bar:nth-of-type(3) {
  transform: translate3d(0, 0, 0) rotate(0deg);
  width: 22px;
}

/* ANIMATED LEFT ARROW */
.navbar-toggler.larr {
  border: none;
}
.navbar-toggler.larr:focus {
  outline: none;
}
.navbar-toggler.larr[aria-expanded=true] .icon-bar:nth-of-type(1) {
  transform: translate3d(0px, 6px, 0) rotate(45deg);
  transform-origin: left top;
  width: 11px;
}
.navbar-toggler.larr[aria-expanded=true] .icon-bar:nth-of-type(3) {
  transform: translate3d(0px, -6px, 0) rotate(-45deg);
  transform-origin: left bottom;
  width: 11px;
}
.navbar-toggler.larr .icon-bar {
  width: 22px;
  display: block;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navbar-toggler.larr .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar-toggler.larr .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 0, 0) rotate(0deg);
  width: 22px;
}
.navbar-toggler.larr .icon-bar:nth-of-type(2) {
  transform: translate3d(0, 0, 0) rotate(0deg);
}
.navbar-toggler.larr .icon-bar:nth-of-type(3) {
  transform: translate3d(0, 0, 0) rotate(0deg);
  width: 22px;
}

/* ANIMATED PLUS */
.navbar-toggler.plus {
  border: none;
}
.navbar-toggler.plus:focus {
  outline: none;
}
.navbar-toggler.plus[aria-expanded=true] .icon-bar:nth-of-type(1) {
  transform: translate3d(0px, 6px, 0) rotate(90deg);
  transform-origin: center center;
}
.navbar-toggler.plus[aria-expanded=true] .icon-bar:nth-of-type(3) {
  transform: translate3d(0px, -6px, 0) rotate(-90deg);
  transform-origin: center center;
}
.navbar-toggler.plus .icon-bar {
  width: 22px;
  display: block;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navbar-toggler.plus .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar-toggler.plus .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 0, 0) rotate(0deg);
}
.navbar-toggler.plus .icon-bar:nth-of-type(2) {
  transform: translate3d(0, 0, 0) rotate(0deg);
}
.navbar-toggler.plus .icon-bar:nth-of-type(3) {
  transform: translate3d(0, 0, 0) rotate(0deg);
}

/* ANIMATED MINUS */
.navbar-toggler.minus {
  border: none;
}
.navbar-toggler.minus:focus {
  outline: none;
}
.navbar-toggler.minus[aria-expanded=true] .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 6px, 0);
}
.navbar-toggler.minus[aria-expanded=true] .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -6px, 0);
}
.navbar-toggler.minus .icon-bar {
  width: 22px;
  display: block;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navbar-toggler.minus .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar-toggler.minus .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 0, 0) rotate(0deg);
}
.navbar-toggler.minus .icon-bar:nth-of-type(2) {
  transform: translate3d(0, 0, 0) rotate(0deg);
}
.navbar-toggler.minus .icon-bar:nth-of-type(3) {
  transform: translate3d(0, 0, 0) rotate(0deg);
}

/*nothing below this point is needed*/
body {
  color: #333;
}